setuptools
wheel
Levenshtein
groq
elevenlabs
pyaudio
faster-whisper
sounddevice
spicy
numpy
langcodes
prompt_toolkit
keyring
silero-vad
platformdirs
colorama
packaging
transformers
pyaudio
accelerate
TTS
simpleaudio
google-generativeai
llama-cpp-python
whisper-cpp-python
