{
    "Language": "en",
    "Hotword": "Nova",
    "LanguageModel": "llama3-70b-8192",
    "ElevenlabsModel": "eleven_multilingual_v2",
    "ElevenlabsVoiceID": "pFZP5JQG7iQjIQuC4Bku",
    "StreamVoice": "True",
    "MicrophoneIndex": "2",
    "Behaviour": "You are an AI assistant called 'Nova'.",
    "Adressation": "Sir"
}