{
    "Language": "en",
    "Hotword": "Nova",
    "GroqModel": "llama3-groq-70b-8192-tool-use-preview",
    "ElevenlabsModel": "eleven_turbo_v2_5",
    "ElevenlabsVoiceID": "Xb7hH8MSUJpSbSDYk0k2",
    "OfflineMode": "False",
    "StreamVoice": "True",
    "MicrophoneIndex": "4",
    "Behaviour": "You are an AI assistant called 'Nova'.",
    "Name": ""
}