{
    "Language": "en",
    "Hotword": "Nova",
    "GroqModel": "llama3-70b-8192",
    "ElevenlabsModel": "eleven_turbo_v2_5",
    "ElevenlabsVoiceID": "Xb7hH8MSUJpSbSDYk0k2",
    "OfflineMode": "True",
    "StreamVoice": "True",
    "MicrophoneIndex": "1",
    "Behaviour": "You are an AI assistant called 'Nova'.",
    "Name": "Valentin"
}